body {
  background: rgb(169, 124, 221);
}

.header {
  color: pink;
}

.heading {
  color: rgb(134, 53, 66);
}

.sectionHeader {
  font-size: 45px;
  color: #1460aa;
}

.diaryHeader {
  color: #164923;
}

.paragraph {
  color: rebeccapurple;
}
