body {
  background: #fefefe;
  color: #333;
}

.about {
  background: #80808029;
  margin-bottom: 20px;
  padding: 10px;
}

.about_link {
  color: #28685e;
}

.about__header {
  color: #1737a0;
}

.about__paragraph {
  color: #007090;
}

.about__paragraph--orange {
  color: orangered;
}

.diary {
  background: #c9c9c929;
  padding: 20px;
}

.diary__header {
  color: #3c518b;
  font-size: 55px;
  text-align: center;
}

.day {
  margin-bottom: 45px;
  border-bottom: 5px #7184ca solid;
}

.day__header {
  color: #28685e;
  font-size: 25px;
}

.day__paragraph {
  color: #007090;
  line-height: 24px;
}

.day__link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

.footer {
  background: #3d3d3d;
  box-sizing: border-box;
  color: #fff;
  margin: 0 auto;
  max-width: 700px;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.header {
  color: #03256c;
}

.header__title {
  color: #100a5f;
}

.main {
  max-width: 700px;
  margin: 20px auto;
  padding-top: 50px;
  width: 100%;
}

.navigation {
  background: #e3e3e3;
  box-sizing: border-box;
  left: 0;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation__link {
  color: #28685e;
}

.top {
  bottom: 20px;
  color: #28685e;
  position: fixed;
  right: 20px;
  text-decoration: none;
}
